form{
    font-family:cursive;
    border: 5px solid yellow;
    height: 300px;
    width: 300px;
    margin-left: 600px;
    margin-top: 150px;
    text-align: center;
    border-radius: 20px;
background-image: url('/Image/1410967177-dragonballzgif-0.gif');
background-size: cover;
background-color: blanchedalmond;
box-shadow: 60px 6px 50px yellow ;
}
body{
    margin-left: 20px;
    background-image: url('Image/shadow-4332215__340.jpg');
    background-size: cover;
}
input[type ="text"], input[type ="password"]{
    width: 250px;
    height: 30px;
    border: 1px solid  red;
    border-radius: 15px;
}
input[type ="submit"]{
    border-radius: 10px;
    width: 110px;
    height: 30px;
    background-color: aquamarine;
box-shadow: 0 0 60px cyan;
}
input[type ="text"]:focus, input[type ="password"]:focus{
    outline: none;
}
input[type ="submit"]:hover{
    background-color: blueviolet;
    cursor: pointer;
}
input[type ="submit"]:focus{
    outline: none;
}