#tab{
    
    border-collapse: collapse;
}
#fs{
    height: 71%;
    width: 36%;
margin-left: 350px;
margin-top: 100px;
}
#reset{
    display: inline-block;
    margin-left: 437px;
   margin-top: -22px;
   width:19%;
}
#loginSubmit{
    display: inline;
    margin-right: 472x;
    margin-left: 300px;
    width: 19%;
    
}
#side{
    margin-left: 25px;
}
#star{
    display: inline-block;
    color: red;
}
#ln{
    display: inline-block;
margin-left: 249px;
}