#grad{
height: 300px;
background: linear-gradient(to right,violet,indigo,blue,green,yellow,orange,red);
}
#grad1{
    height: 600px;
    background: radial-gradient(violet,indigo,blue,green,yellow,orange,red);
}